.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  padding: 20px auto;
  border: 2px solid darkslategrey;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 4px 0 8px rgba(0, 0, 0, 0.2);
  color: #242424;
  &__content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
  }
  &__title {
    font-family: "Georgia", serif;
    font-size: 24px;
    margin: 0;
  }
  &__time,
  &__date {
    font-family: "Courier New", monospace;
    font-size: 20px;
    letter-spacing: 2px;
    margin: 5px 0;
  }
}

.inline-username-input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: transparent;
  border: none;
  border-bottom: 1px dashed #bbb; 
  padding: 2px 4px;
  width: auto;
  max-width: 150px;

  &::placeholder {
    color: #aaa;
    opacity: 0.8;
  }

  &:focus {
    outline: none;
    border-bottom: 1px solid #155b53; 
    background-color: transparent;
  }
}
