@use "typography";

*,
*:before,
*:after {
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.task-app {
  max-width: 640px;
  margin: 0 auto;
  width: 100%;
  padding: 2rem 1rem;
  border: 1px solid #b2dfdb;
  border-radius: 6px;

  @media (min-width: 768px) {
    max-width: 720px;
    padding: 2rem;
  }
}

body {
  font-family: "Jost", sans-serif;
  background-color: #ffffff;
}

main {
  background-color: whitesmoke;
}
